sonar-training/tpms/tpms-web/WebContent/cfg/local_cfg/plants.dtd

<!-- SYNTAX FOR DATABASES ACCESS DEFINITION -->

<!ELEMENT SYSTEM (PLANTS*)>

<!ELEMENT PLANTS (MODEL_ID,PL_NAME,DBS_TYPE,USERNAME,PASSWORD,CONN_STR?)>

<!ELEMENT MODEL_ID (#PCDATA)>
<!ELEMENT PL_NAME  (#PCDATA)>
<!ELEMENT DBS_TYPE (#PCDATA)>
<!ELEMENT USERNAME (#PCDATA)>
<!ELEMENT PASSWORD (#PCDATA)>
<!ELEMENT CONN_STR (#PCDATA)>