sonar-training/tpms/tpms-web/WebContent/cfg/db_int/joins.dtd

<!-- SYNTAX FOR JOINS DEFINITIONS -->

<!ELEMENT JOINS (JOIN*)>

<!ELEMENT JOIN (JOIN_ID,DBTABLEA,DBTABLEB,JOINFLDA,JOINFLDB)>

<!ELEMENT JOIN_ID (#PCDATA)>
	<!ATTLIST JOIN_ID type (D|N|C) #IMPLIED>
<!ELEMENT DBTABLEA (#PCDATA)>
	<!ATTLIST DBTABLEA type (D|N|C) #IMPLIED>
<!ELEMENT DBTABLEB (#PCDATA)>
	<!ATTLIST DBTABLEB type (D|N|C) #IMPLIED>
<!ELEMENT JOINFLDA (#PCDATA)>
	<!ATTLIST JOINFLDA type (D|N|C) #IMPLIED>
<!ELEMENT JOINFLDB (#PCDATA)>
	<!ATTLIST JOINFLDB type (D|N|C) #IMPLIED>